body{
    margin:0;
    font-family:Segoe UI,Arial,sans-serif;
    background:#f5f7fa;
    color:#333;
}

header{
    background:#0066cc;
    color:white;
    padding:30px;
    text-align:center;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    background:white;
    margin-top:30px;
    padding:40px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

nav a{
    margin:15px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}

footer{
    text-align:center;
    margin:50px;
    color:#888;
}